NODE_ENV=development
NODE_API=/api

PORT=4444
DB_URL=mongodb://localhost:27017/veritas
DB_URL_PROD=mongodb://fiducia360:nx(hXEmh><:.qb?<nwQ7rg(6epBe@docdb-2025-07-17-18-51-07.cluster-cirsyg08y5te.us-east-1.docdb.amazonaws.com:27017/?tls=true&tlsCAFile=global-bundle.pem&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false

API_URL=http://192.168.1.3:4444
APP_URL=http://localhost:3333

LOOKUP_URL=https://veritasallies.net/opensearch/getHCPCS
REPRICE_URL=https://veritasallies.net/opensearch/upload

CORS_ORIGIN=http://localhost:3333,wss://app.localhost:3333
REDIS_URL=redis://localhost:6379

TOKEN_SECRET=veritas
TOKEN_EXPIRATION_TIME=1h

EMAIL_FROM=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

GOOGLE_API_PLACES_URL=
GOOGLE_API_KEY=

GOOGLE_RECAPTCHA_TOKEN=

SEND_EMAIL=true
ENABLE_SANDBOX=true
DISABLE_AWS_LOG=

SKIP_PREFLIGHT_CHECK=true
SEND_EMAIL=false
LOG_LEVEL=debug
DISABLE_REDIS_ADAPTER=true
MULTIPLE_USER=true